html {
  font-size: 1em;
  color: white;
  background-color: #254453;
}

html:has(.input-box.active) {
  overflow: hidden;
}

html:has(.input-box.active) .content {
  scrollbar-gutter: stable;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(218, 222, 255) inset !important;
          box-shadow: 0 0 0 30px rgb(218, 222, 255) inset !important;
}

:root {
  --backPosition: center right;
}

.wrapper {
  min-width: 1024px;
}

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background: #254453;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(152, 201, 220, 0.7);
  border-radius: 20px;
  border: 5px solid #254453;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(152, 201, 220);
}

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Bold;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Light;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Medium;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Regular;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins-SemiBold;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Tahu;
  font-display: swap;
  src: url("../fonts/Tahu.woff2") format("woff2"), url("../fonts/Tahu.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Thin;
  font-display: swap;
  src: url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  fill: white;
  margin-left: 8vw;
  width: 64px;
  height: 64px;
}

.text-title {
  font-size: 46px;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
}

.text {
  font-family: "Poppins-Regular";
  font-size: 18px;
  margin-top: 15px;
}

.text-box {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 180px;
}

.text-box span {
  color: #1dddc3;
}

.pulse {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.pulse.pulseActive::before {
  -webkit-animation: pulse 0.5s;
          animation: pulse 0.5s;
}

.pulse::before {
  content: "";
  position: absolute;
  width: 100%;
  inset: var(--y) 0 0 var(--x);
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  aspect-ratio: 1/1;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  -webkit-transition: opacity, -webkit-transform 0.5s;
  transition: opacity, -webkit-transform 0.5s;
  transition: opacity, transform 0.5s;
  transition: opacity, transform 0.5s, -webkit-transform 0.5s;
  border-radius: 50%;
  background-color: whitesmoke;
  opacity: 0.9;
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.content {
  will-change: transform;
}

.header__main {
  position: relative;
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #1a117a;
}

.header__main__title {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  text-shadow: rgb(66, 66, 255) 2px 2px 6px;
}

.header__main__title h1 {
  font-size: 54px;
  line-height: 1.2;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
}

.header__main__title p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  margin-top: 15px;
}

.header__main__img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: var(--backPosition);
}

.no-webp .header__main__img:nth-child(1) {
  background-image: url(../images/parallax_image_fon.png); }

.header__main__img:nth-child(1) {
  z-index: 1;
}

.no-webp .header__main__img:nth-child(2) {
  background-image: url(../images/parallax_image_ocean.png); }

.header__main__img:nth-child(2) {
  z-index: 2;
}

.no-webp .header__main__img:nth-child(4) {
  background-image: url(../images/parallax_image_ice.png); }

.header__main__img:nth-child(4) {
  z-index: 4;
}

.no-webp .header__main__img:nth-child(5) {
  background-image: url(../images/parallax_image.png); }

.header__main__img:nth-child(5) {
  z-index: 5;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: calc(100vw - var(--scrollBarWidth));
  height: 120px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-width: 525px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.navbar__inner__item {
  color: white;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  text-shadow: rgb(66, 66, 255) 1px 1px 4px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.navbar__inner__item::after {
  content: "";
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateY(4px) scale(0, 1);
      -ms-transform: translateY(4px) scale(0, 1);
          transform: translateY(4px) scale(0, 1);
  background-color: #00bfff;
}

.navbar__inner__item:hover::after {
  -webkit-transform: translateY(4px) scale(1, 1);
      -ms-transform: translateY(4px) scale(1, 1);
          transform: translateY(4px) scale(1, 1);
  opacity: 0.85;
}

.navbar__inner__button {
  width: 160px;
  height: 40px;
  border: 2px solid white;
  border-radius: 2px;
  line-height: 34px;
  text-align: center;
  color: white;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: transparent;
}

.navbar__inner__button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.about {
  position: relative;
  padding-bottom: 100px;
  padding-top: 150px;
}

.about .text-box {
  text-shadow: rgba(131, 131, 255, 0.8) 1px 1px 6px;
  color: white;
  padding-top: 0px;
}

.about .first-page-fon {
  position: absolute;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 67, 161, 0.8901960784)), color-stop(80%, #a3a3a3));
  background: linear-gradient(to bottom, rgba(0, 67, 161, 0.8901960784) 20%, #a3a3a3 80%);
}

.about .first-page-fon .img {
  position: absolute;
  width: inherit;
  background-size: cover;
  background-position: var(--backPosition);
  height: 100vh;
}

.no-webp .about .first-page-fon .img:nth-child(1) {
  background-image: url(../images/parallax_image.png); }

.about .first-page-fon .img:nth-child(1) {
  -webkit-transform: translate3d(0, calc(-1 * var(--scrollTop) * 0.1), 0) scale(1, -1);
          transform: translate3d(0, calc(-1 * var(--scrollTop) * 0.1), 0) scale(1, -1);
}

.no-webp .about .first-page-fon .img:nth-child(2) {
  background-image: url(../images/parallax_image_ice.png); }

.about .first-page-fon .img:nth-child(2) {
  -webkit-transform: translate3d(0, calc(-1 * var(--scrollTop) * 0.25), 0) scale(1, -1);
          transform: translate3d(0, calc(-1 * var(--scrollTop) * 0.25), 0) scale(1, -1);
}

.circle {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(var(--coordinate));
      -ms-transform: translate(var(--coordinate));
          transform: translate(var(--coordinate));
}

.circle-type-1 {
  width: 64px;
  height: 64px;
  background-color: rgba(0, 29, 58, 0.25);
}

.circle-type-1:nth-of-type(1) {
  top: 58%;
  left: 6vw;
}

.circle-type-1:nth-of-type(2) {
  top: 55%;
  right: 4vw;
}

.circle-type-2 {
  width: 44px;
  height: 44px;
  background-color: rgba(0, 29, 58, 0.1);
  border: 1px solid rgba(245, 245, 245, 0.65);
}

.circle-type-2:nth-of-type(3) {
  top: 35%;
  right: 6vw;
}

.circle-type-2:nth-of-type(4) {
  top: 80%;
  left: 10vw;
}

.circle-type-2:nth-of-type(5) {
  top: 18%;
  left: 18vw;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1150px;
  padding: 0px 24px;
  gap: 30px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.about__content__item {
  padding: 60px 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 8px;
  max-width: 300px;
  color: white;
}

.about__content__item img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.no-webp .about__content__item:nth-child(1) {
  background-image: url(../images/column-bg1.png); }

.about__content__item:nth-child(1) {
  background-color: #3e63dd;
}

.no-webp .about__content__item:nth-child(2) {
  background-image: url(../images/column-bg2.png); }

.about__content__item:nth-child(2) {
  background-color: #1d4add;
  padding: 45px 35px;
}

.about__content__item:nth-child(2) img {
  width: auto;
  height: auto;
  max-height: 154px;
}

.no-webp .about__content__item:nth-child(3) {
  background-image: url(../images/column-bg3.png); }

.about__content__item:nth-child(3) {
  background-color: #2a336e;
}

.about__content .text {
  line-height: 1.5;
}

.about-text-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-family: "Poppins-Medium";
}

.the-school {
  padding: 80px 0px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #a3a3a3), color-stop(80%, rgba(0, 88, 161, 0.8901960784)));
  background: linear-gradient(to bottom, #a3a3a3 20%, rgba(0, 88, 161, 0.8901960784) 80%);
  color: white;
}

.the-school .text-box {
  padding: 0px;
}

.the-school .text-box span {
  color: #24b9a5;
}

.options {
  max-width: 1000px;
  padding: 0 30px;
  margin: auto;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.options__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 30px;
}

.options__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.options__block ul li {
  font-family: "Poppins-Light";
  font-size: 18px;
}

.options__block ul li span {
  font-family: "Poppins-Bold";
  padding-right: 6.5px;
  color: #1dddc3;
}

.options__block h1 {
  font-family: "Poppins-Bold";
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.video-box {
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-transform-style: flat;
          transform-style: flat;
  width: 40%;
  border-radius: 14px;
  background-color: rgba(128, 128, 128, 0.4);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.4);
          box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.4);
}

.video-box video {
  display: block;
  border-radius: 14px;
  -webkit-transform: rotateY(-20deg) translateX(-15px);
          transform: rotateY(-20deg) translateX(-15px);
  width: 100%;
  aspect-ratio: 16/9;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.video-box video:hover {
  -webkit-transform: rotateY(0deg) translateX(0px) scale(1.1);
          transform: rotateY(0deg) translateX(0px) scale(1.1);
}

.options__block:first-child .video-box {
  background-color: rgba(128, 128, 128, 0.55);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.55);
          box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.55);
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: auto;
}

.purchase {
  padding-bottom: 78px;
  background-color: rgba(0, 88, 161, 0.8901960784);
  border-bottom: 2px solid rgb(158, 158, 158);
  color: white;
}

.purchase .text-box {
  padding-top: 0px;
  margin-bottom: 20px;
}

.purchase .text-box h1 {
  font-size: 24px;
}

.purchase .text-box p {
  font-size: 16px;
  line-height: 22px;
}

.purchase .container {
  padding-top: 78px;
  border-top: 2px solid rgb(158, 158, 158);
}

.purchase-button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  position: relative;
  left: 50%;
  translate: -50% 0%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Poppins-Light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.purchase-button:before,
.purchase-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  -webkit-transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}

.purchase-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}

.purchase-button:hover:before,
.purchase-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.purchase-button:hover:before {
  -webkit-transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}

.purchase-button:hover:after {
  -webkit-transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}

.purchase-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  padding-top: 70px;
  background-color: rgba(0, 88, 161, 0.8901960784);
  color: white;
  -webkit-box-shadow: inset 0 15px 30px 10px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 15px 30px 10px rgba(255, 255, 255, 0.1);
}

footer h1 {
  font-size: 24px;
  font-family: "Poppins-Bold";
  margin: 24px auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

footer .data {
  border-top: 2px solid rgb(158, 158, 158);
  padding: 20px 0px;
  text-align: center;
  font-family: "Poppins-Light";
  letter-spacing: 2px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  margin-bottom: 30px;
}

.links a {
  outline: none;
}

.links img {
  mix-blend-mode: luminosity;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 50%;
}

.links img:hover {
  -webkit-box-shadow: 0px 0px 5px 4px rgba(62, 255, 245, 0.25);
          box-shadow: 0px 0px 5px 4px rgba(62, 255, 245, 0.25);
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  margin: auto;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 75px;
}

.subscribe input {
  border: none;
  background: none;
  width: 62%;
  color: white;
  padding-left: 15px;
  font-family: "Poppins-Regular";
}

.subscribe input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins-Regular";
  letter-spacing: 2px;
}

.subscribe input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins-Regular";
  letter-spacing: 2px;
}

.subscribe input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins-Regular";
  letter-spacing: 2px;
}

.subscribe input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins-Regular";
  letter-spacing: 2px;
}

.subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins-Regular";
  letter-spacing: 2px;
}

.subscribe-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 10px;
  font-family: "Poppins-Light";
  text-transform: uppercase;
  height: 100%;
  width: 120px;
  text-align: center;
  line-height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(104, 238, 216, 0.862745098)), color-stop(51%, rgba(48, 51, 240, 0.8784313725)), to(rgba(104, 238, 216, 0.8549019608)));
  background-image: linear-gradient(to right, rgba(104, 238, 216, 0.862745098) 0%, rgba(48, 51, 240, 0.8784313725) 51%, rgba(104, 238, 216, 0.8549019608) 100%);
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.75s;
  transition: 0.75s;
  border: none;
  outline: none;
}

.subscribe-button:hover {
  background-position: right center;
}

.shadow-box {
  height: 100vh;
  width: calc(100vw - var(--scrollBarWidth));
  position: absolute;
  z-index: -2;
  -webkit-transition: all 0.75s, top 0s;
  transition: all 0.75s, top 0s;
}

.shadow-box:has(.input-box.active) {
  z-index: 100;
  background-color: rgba(128, 128, 128, 0.25);
}

.input-box {
  padding: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.input-box.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.input-box__login-box {
  text-align: center;
  color: white;
}

.input-box__login-box > *:not(.input-box__title) {
  margin-top: 20px;
}

.input-box__title {
  font-size: 22px;
  font-family: "Poppins-Bold";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input-box__text {
  font-size: 18px;
  font-family: "Poppins-Regular";
}

.input-box span {
  font-size: 18px;
  font-family: "Poppins-SemiBold";
  color: #345b6e;
}

.input-box input {
  width: 380px;
  height: 50px;
  padding: 12px;
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Poppins-Regular";
  font-size: 16px;
  color: rgb(2, 0, 30);
}

.input-box__link {
  color: #345b6e;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
  font-family: "Poppins-SemiBold";
}

.input-box__link:hover {
  color: #006b5d;
  text-decoration: underline;
}

.input-box .input {
  position: relative;
}

.input-box .input-placeholder {
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
}

.input-box .input .icon {
  position: absolute;
  pointer-events: none;
  right: 12px;
  top: 50%;
  translate: 0 -50%;
}

.input-box input:focus ~ .input-placeholder,
.input-box input.active ~ .input-placeholder {
  opacity: 0;
  translate: -80% -50%;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.popup-button {
  width: 100%;
  height: 54px;
  font-size: 22px;
  font-family: "Poppins-Bold";
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  text-align: center;
  line-height: 25px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(104, 238, 216, 0.862745098)), color-stop(51%, rgba(48, 51, 240, 0.8784313725)), to(rgba(104, 238, 216, 0.8549019608)));
  background-image: linear-gradient(to right, rgba(104, 238, 216, 0.862745098) 0%, rgba(48, 51, 240, 0.8784313725) 51%, rgba(104, 238, 216, 0.8549019608) 100%);
  background-size: 200% auto;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.popup-button:hover {
  background-position: right center;
}

.remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.remember .checkbox {
  height: 22px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-color: #345b6e;
  font-size: 12px;
}

.remember.deactive .checkbox::before {
  display: none;
}

[data-scroll-anim].scrollAnim,
[data-scroll-anim] .scrollAnim {
  opacity: 0;
}

[data-scroll-anim].scrollAnim.scrollAnimLeft,
[data-scroll-anim] .scrollAnim.scrollAnimLeft {
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
}

[data-scroll-anim].scrollAnim.scrollAnimRight,
[data-scroll-anim] .scrollAnim.scrollAnimRight {
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
}

[data-scroll-anim].scrollAnim.scrollAnimTop,
[data-scroll-anim] .scrollAnim.scrollAnimTop {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}

[data-scroll-anim].scrollAnim.scrollAnimBottom,
[data-scroll-anim] .scrollAnim.scrollAnimBottom {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}

[data-scroll-anim].scrollAnim.scrollAnimActive,
[data-scroll-anim].scrollAnimActive .scrollAnim {
  opacity: 1;
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: opacity 1.5s, -webkit-transform 1s;
  transition: opacity 1.5s, -webkit-transform 1s;
  transition: transform 1s, opacity 1.5s;
  transition: transform 1s, opacity 1.5s, -webkit-transform 1s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(1),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(1) {
  -webkit-transition: all 1.2s 0s;
  transition: all 1.2s 0s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(2),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(2) {
  -webkit-transition: all 1.2s 0.1s;
  transition: all 1.2s 0.1s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(3),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(3) {
  -webkit-transition: all 1.2s 0.15s;
  transition: all 1.2s 0.15s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(4),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(4) {
  -webkit-transition: all 1.2s 0.2s;
  transition: all 1.2s 0.2s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(5),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(5) {
  -webkit-transition: all 1.2s 0.25s;
  transition: all 1.2s 0.25s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(6),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(6) {
  -webkit-transition: all 1.2s 0.3s;
  transition: all 1.2s 0.3s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(7),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(7) {
  -webkit-transition: all 1.2s 0.35s;
  transition: all 1.2s 0.35s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(8),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(8) {
  -webkit-transition: all 1.2s 0.4s;
  transition: all 1.2s 0.4s;
}

[data-scroll-anim].scrollAnimActive.scrollAnimLadder .scrollAnim:nth-child(9),
[data-scroll-anim].scrollAnimActive .scrollAnimLadder .scrollAnim:nth-child(9) {
  -webkit-transition: all 1.2s 0.45s;
  transition: all 1.2s 0.45s;
}

[data-scroll-anim].scrollAnim.scrollAnimActive.scrollAnimDelay,
[data-scroll-anim].scrollAnimActive .scrollAnim.scrollAnimDelay {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

@media only screen and (max-width: 1100px) {
  :root {
    --backPosition: 76% center;
  }
}

.webp .header__main__img:nth-child(1) { background-image: url(../images/parallax_image_fon.webp); }

.webp .header__main__img:nth-child(2) { background-image: url(../images/parallax_image_ocean.webp); }

.webp .header__main__img:nth-child(4) { background-image: url(../images/parallax_image_ice.webp); }

.webp .header__main__img:nth-child(5) { background-image: url(../images/parallax_image.webp); }

.webp .about .first-page-fon .img:nth-child(1) { background-image: url(../images/parallax_image.webp); }

.webp .about .first-page-fon .img:nth-child(2) { background-image: url(../images/parallax_image_ice.webp); }

.webp .about__content__item:nth-child(1) { background-image: url(../images/column-bg1.webp); }

.webp .about__content__item:nth-child(2) { background-image: url(../images/column-bg2.webp); }

.webp .about__content__item:nth-child(3) { background-image: url(../images/column-bg3.webp); }